<!-- <meta http-equiv="refresh" content="0; URL='customer/list'"> -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Home Page</title>
</head>

<body style="text-align: center;">

	<h1 style="color: green;">Welcome To Customer-Relation-Management Website</h1>
	
	<br>
	<br>
	<a href="./customer/list"> Customers List</a>
	<br>
	<a href="./user/register"> User Registration Page</a>
</body>

</html>